@import 'https://fonts.googleapis.com/css?family=Arvo';

#container {
	background-color: #fff3e3;
	border-radius: 25px;
	height: 850px;
	width: 850px;
}

.tile {
	height: 55px;
	width: 55px;
	border-radius: 10px;
	margin: 15px;
}