@import url(http://fonts.googleapis.com/css?family=Questrial);
body {
	background-color: #fff;
	font-family: 'Questrial', sans-serif;
	margin: 10px 0px;
}
header {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	position: relative;
	background-color: #800080;
	z-index: 20;
	border-bottom: 5px solid #800080;
	border-top: 5px solid #800080;
	min-width: 304px;
}
nav li{
	width: 8%;
	display: inline-block;
	padding: 20px 1% 20px 1% ;
	font-size: 20px;
	text-transform: uppercase;
	text-decoration: none;
	border-right: 1px solid #fff;
	min-width: 125px;
}
nav li:first-child{
	border-left: 1px solid #fff;
	margin-left: 20%;
}
nav ul li:active{
	background-color: #700070;
}
a {
	text-decoration: none;
	color: #fff;
}
ul{
	margin: 0px;
}
#menu-480{
	display: none;
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
	nav li{
		display: inline-block;
		margin: auto;
		font-size: 15px;
		min-width: 100px;
	}
	nav li:first-child{
		margin-left: 0px;
	}
	ul {
		padding: 0px;
	}
	#menu-480{
		display: none;
	}
}
@media only screen and (max-width: 480px) {
	nav li{
		display: block;
		border: none;
		margin: auto;
		width: 100%;
	}
	nav li:first-child{
		margin-left: auto;
		border: none;
	}
	ul {
		padding: 0px;
	}
	#menu-768{
		display:none;
	}
	#menu-480{
		display: inherit;
	}
	#menu-480 ul{
		display: none;
	}
	#menu-480 li li:nth-child(1) {
		margin-top:15px;
	}
	#menu-480 li:hover > ul {
		display: block;
	}
	#menu-480 li:active {
		background-color: #800080
	}
	#menu-480 li ul li:active{
		background-color: #700070;
	{

}
