@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
#score {
	margin: auto;
	margin-top: 25px;
	position: relative;
	font-family: 'Montserrat', sans-serif;
	height: 50px;
	width: 250px;
}
#main {
	background-color: cadetblue;
	margin: auto;
	position: relative;
	z-index: 1;
	border: 15px solid cadetblue;
	border-radius: 10px;
}
.tile {
	height: 80px;
	width: 80px;
	margin: 5px;
	background-color: lightcyan;
	display: inline;
	position: absolute;
	z-index:3;
	border-radius: 5px;
	padding: 10px;
}
.tilenew {
	height: 80px;
	width: 80px;
	background-color: LightBlue ;
	display: flex;
	z-index:4;
	border-radius: 5px;
	font-size: 70px;
	padding: 10px;
	text-align: center;
	color: aliceblue;
	font-family: 'Montserrat', sans-serif;
	position: absolute;
	margin: 5px;
	-webkit-justify-content: center;
	align-items: center; 
	}
#sTable {
	position: absolute;
	text-align: right;
	border-radius: 5px;
	background-color: lightcyan;
	color: crimson;
	padding: 10px;
	font-family: 'Montserrat', sans-serif;
	float: right;
	width: 80px;
	display: inline;
	margin-top: -5px;
}